[class*="__container"]{
	max-width: 1000px;
	margin: 0 auto;
	}
body {
	padding-top: 80px;
}
.wrapper {
	/* overflow: hidden; */
	position: relative;
	width: 100%;
	padding: 30px;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border: 2px solid #000;
	border-radius: 4px;
	background-color: tan;
	padding: 30px;
	z-index: 100;
}
.menu {
	font-size: 24px;
}
.menu__body {
	text-align: center;
}
.menu__item {
	position: relative;
	display: inline-block;
}
.menu__item:not(:last-child) {
	margin-right: 30px;
}
.menu__link:hover {
	color: red;
	text-decoration: underline;
}
.main__relative {
	position: relative;
	width: 100%;
	height: 250px;
	border: 1px solid #000;
	padding: 50px;
	margin-bottom: 30px;
}
.relative__item {
	padding: 10px;
}
.relative__item:nth-of-type(1){
	position: relative;
	top: 0px;
	left: 0px;
	background-color: red;
}
.relative__item:nth-of-type(2){
	position: relative;
	top: 0px;
	right: 0px;
	background-color: rgb(40, 212, 40);

}
.relative__item:nth-of-type(3){
	position: relative;
	top: 0px;
	right: 0px;
	background-color: rgb(211, 31, 193);
	z-index: 40;
	
}
.relative__item:nth-of-type(4){
	background-color: rgba(38, 65, 200, 0.523);	
}
.main__absolute {
	width: 100%;
	height: 150px;
	border: 1px solid #000;
	position: relative;
	margin-bottom: 50px;
}
.absolute {	

	padding: 30px;
	
}
.absolute__item {
	padding: 10px;
}
.absolute__item:nth-of-type(1){
	background-color: red;
}
.absolute__item:nth-of-type(2){
	background-color: rgb(40, 212, 40);
	position: absolute;
	width: 300px;
	top: 30px;
	left: 748px;


}
.absolute__item:nth-of-type(3){
	background-color: rgb(211, 31, 193);
	
}
.absolute__item:nth-of-type(4){
	position: absolute;
	background-color: rgba(38, 65, 200, 0.523);
	width: 500px;
	top:67px;
	left: 150px;

}	


.main__fixed  {
	position: relative;
	width: 100%;
	height: 200px;
	border: 1px solid #000;
	padding: 50px;
	margin-bottom: 50px;
}
.fixed__item {
	padding: 10px;
}
.fixed__item:nth-of-type(1){
	background-color: red;
}
.fixed__item:nth-of-type(2){
	margin-top: 100px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(40, 212, 40);
	opacity: 0.6;
}
.fixed__item:nth-of-type(3){
	background-color: rgb(211, 31, 193);
}
.fixed__item:nth-of-type(4){
	background-color: rgba(38, 65, 200, 0.523);	
}

.main__sticky {
	width: 100%;
	height: 500px;
	border: 1px solid #000;
	padding: 50px;
	margin-bottom: 50px;
}
.sticky__item {
	padding: 10px;


}
.sticky__item:nth-of-type(1){
	background-color: red;
	position: sticky;
	top: 80px;
}
.sticky__item:nth-of-type(2){
	background-color: rgb(40, 212, 40);
}
.sticky__item:nth-of-type(3){
	background-color: rgb(211, 31, 193);
}
.sticky__item:nth-of-type(4){
	background-color: rgba(38, 65, 200, 0.523);
}	
.sticky__item:nth-of-type(5){
	background-color: red;
}
.sticky__item:nth-of-type(6){
	background-color: rgb(40, 212, 40);
}
.sticky__item:nth-of-type(7){
	position: sticky;
	top: 120px;
	background-color: rgb(211, 31, 193);
}
	
	
.sticky__item:nth-of-type(8){
	background-color: rgba(38, 65, 200, 0.523);
}	
.sticky__item:nth-of-type(9){
	background-color: rgb(211, 31, 193);
}

.footer__background{
	position: relative;
	width: 1200px;
	min-height: 821px;
	padding: 50px;
	background: url('../img/long.webp') 0 0 / auto auto no-repeat;
}
.footer__bus-details--0 {
	position: absolute;
	top: 300px;
	left: 360px;
	width: 700px;
	height: 250px;
	background-color: rgb(39, 120, 225);
	border-radius: 50px 20px 20px 20px;
}
.footer__bus-details--1{
	position: absolute;
	top: 500px;
	left: 400px;
	width: 100px;
	height: 100px;
	background-color: #000;
	border-radius:50%;
}
.footer__bus-details--2{
	position:absolute;
	width: 100px;
	height: 100px;
	top: 500px;
	left: 900px;
	background-color: #000;
	border-radius:50%;
}
.footer__bus-details--3{
	position:absolute;
	width: 100px;
	height: 100px;
	top: 500px;
	left: 790px;
	background-color: #000;
	border-radius:50%;
}
.footer__bus-details--4{
	position: absolute;
	top: 330px;
	left: 490px;
	width: 550px;
	height: 100px;
	background: url('../img/people.webp') 0 0 / cover no-repeat;
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--5{
	position: absolute;
	top: 330px;
	left: 490px;
	width: 550px;
	height: 100px;
	background-color: rgb(70, 46, 46);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
	opacity: 0.5;
}
.footer__bus-details--6{
	position: absolute;
	top: 330px;
	left: 600px;
	width: 5px;
	height: 100px;
	background-color: rgb(13, 11, 11);
	border: 1px solid #000;
}
.footer__bus-details--7{
	position: absolute;
	top: 480px;
	left: 370px;
	width: 680px;
	height: 10px;
	background-color: rgb(228, 214, 214);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--8{
	position: absolute;
	top: 460px;
	left: 370px;
	width: 680px;
	height: 10px;
	background-color: rgb(238, 232, 232);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--9{
	position:absolute;
	width: 70px;
	height: 70px;
	top: 515px;
	left: 805px;
	background: url('../img/pngwing.png') 0 0 / 70px 70px no-repeat;
	border-radius:50%;
}
.footer__bus-details--10{
	position:absolute;
	width: 70px;
	height: 70px;
	top: 515px;
	left: 915px;
	background: url('../img/pngwing.png') 0 0 / 70px 70px no-repeat;
	border-radius:50%;
}
.footer__bus-details--11{
	position:absolute;
	width: 70px;
	height: 70px;
	top: 515px;
	left: 415px;
	background: url('../img/pngwing.png') 0 0 / 70px 70px no-repeat;
	border-radius:50%;
}
.footer__bus-details--12{
	position: absolute;
	top: 330px;
	left: 800px;
	width: 5px;
	height: 100px;
	background-color: rgb(13, 11, 11);
	border: 1px solid #000;
}
.footer__bus-details--13{
	position: absolute;
	top: 500px;
	left: 1030px;
	width: 30px;
	height: 20px;
	background-color: rgb(193, 27, 27);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--14{
	position: absolute;
	top: 440px;
	left: 360px;
	width: 30px;
	height: 70px;
	background-color: rgb(255, 255, 255);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--15{
	position: absolute;
	top: 330px;
	left: 360px;
	width: 120px;
	height: 100px;
	background: url('../img/large.jpg') 0 0 / cover no-repeat;
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--16{
	position: absolute;
	top: 490px;
	left: 360px;
	width: 30px;
	height: 10px;
	background-color: rgb(255, 162, 1);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
}
.footer__bus-details--17{
	position: absolute;
	top: 330px;
	left: 360px;
	width: 120px;
	height: 100px;
	background-color: rgb(247, 218, 218);
	border-radius: 50px 20px 20px 20px;
	border: 2px solid #000;
	opacity: 0.3;
}
